* {
  box-sizing: border-box;
}

body {
  font-family: courier, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card-container {
  display: flex;
  gap: 20px;
}

.flip-card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  position: relative;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  flex-direction: column;
}

.header-box {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
}

.sport-shoes {
  background-image: url("https://www.nike.qa/dw/image/v2/BDVB_PRD/on/demandware.static/-/Sites-akeneo-master-catalog/default/dw2a2f4696/nk/d96/6/e/8/a/7/d966e8a7_3055_4793_9b68_ff75f42e3899.jpg");
  background-size: cover;
  background-position: center;
}

.sport-shoes-back {
  background-image: url("https://www.nike.qa/dw/image/v2/BDVB_PRD/on/demandware.static/-/Sites-akeneo-master-catalog/default/dw2a2f4696/nk/d96/6/e/8/a/7/d966e8a7_3055_4793_9b68_ff75f42e3899.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.running-shoes {
  background-image: url("https://therunhub.ie/cdn/shop/files/Large_Wayfinder_Men_s_Running_Shoes_700_360x@2x.png?v=1720438095");
  background-size: cover;
  background-position: center;
}

.running-shoes-back {
  background-image: url("https://therunhub.ie/cdn/shop/files/Large_Wayfinder_Men_s_Running_Shoes_700_360x@2x.png?v=1720438095");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.casual-shoes {
  background-image: url("https://cdnimg.brunomarc.com/brunomarcs/image/article/20220818_79/grand-01-men-mesh-sneakers-with-jeans-os.jpg");
  background-size: cover;
  background-position: center;
}

.casual-shoes-back {
  background-image: url("https://cdnimg.brunomarc.com/brunomarcs/image/article/20220818_79/grand-01-men-mesh-sneakers-with-jeans-os.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.flip-card-back {
  transform: rotateY(180deg);
  flex-direction: column;
  position: relative;
}

.flip-card-back h3 {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.flip-card-back a {
  color: white;
  margin-top: 10px;
  text-decoration: none;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  font-size: 16px;
}

.flip-card-back a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
